#root {
  margin: 0 auto;
  text-align: left;
}

/*Inicio del portfolio*/

body,
h1,
p {
  margin-top: 0;
  margin-bottom: 0;
  margin: 0
}


.intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10%;
}

.imagenInicio {
  width: 35%;
  height: auto;
  padding-top: 10%;
}

h1 {
  color: #A9D7AD
}


.txtInicio {
  width: 70%;
  font-size: 20px;
  margin-top: 20px;
}

/*Conoceme*/
.titCon {
  color: #E594BB;
  font-size: 40px;
}

.conoceme {
  margin-top: 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #FFF3F9;
  padding-top: 40px;
  padding-bottom: 70px;
  margin-bottom: 10%;


}

.titTxt {
  font-size: 20px;
}


/*Sobre mí*/


.sobreMi {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}

.imagenCirc {
  width: 40%;
  margin-right: 70px;
}


.titSobreMi {
  margin-top: 0;
  color: #A9D7AD;
}

.textSobreMi {
  font-size: 18px;
  line-height: 1.5;
}


/*Stack*/
.stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 10%;
}

.parteUno {
  text-align: center;
}

.txtUno,
.txtDos {
  width: 55%;
  margin: 0 auto;
  margin-bottom: 3%;
  font-size: 18px;
}

.txtDos {
  margin-top: 3%;
}

.iconos img,
.iconos2 img {
  margin-right: 100px;
  width: 90px;
}

.titStack {
  color: #E594BB;
}

/*Proyectos*/

.hproy1 {
  font-size: 45px;
  position: relative;
  margin-top: -390px;
  margin-left: 35.7%;
  color: #A9D7AD
}


.fairy,
.bookie {
  margin-left: 10%;
}

.proy2 {
  display: flex;
  justify-content: flex-end;
  text-align: left;
  margin-top: 20%;
  margin-left: 10%;
}

.schedule {
  margin-right: 10%;
}

.hproy2 {
  font-size: 45px;
  position: relative;
  margin-top: -140px;
  margin-left: 49.8%;
  color: #A9D7AD
}


.hproy3 {
  font-size: 45px;
  position: relative;
  margin-top: -390px;
  margin-left: 39.2%;
  color: #A9D7AD
}


.proy3 {
  margin-top: 6%;
}

.titProyectos {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 5%;
  color: #E594BB;
}

/*Contacto*/

.contacto {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.titContacto {

  margin-bottom: 5%;
  color: #A9D7AD;
}

.txtContacto {
  margin-top: -3%;
  width: 50%;
  font-size: 18px;
}

.taza {
  width: 6%;
  margin-bottom: -20px;
  margin-top: 5%;
}

/*teléfono*/

[class^="mensaje"] {
  background-color: #aeddae2a;
  margin: 5px;
  border-radius: 7px;
  width: 90%;
  padding: 5px;
}

.tel {
  position: fixed;
  right: -5%;
  top: 70%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 250px;
  height: 420px;
}

#cerrarTel {
  background-color: rgba(255, 255, 255, 0.9);
  color: #805467;
  display: flex;
  justify-content: flex-end;
  border: none;
}

.perfil {
  display: flex;
  background-color: #e594bb67;
  border-radius: 10px 10px 0px 0px;
}

.fotBot {
  width: 15%;
}

.bot {
  margin-left: 5%;
}

.conver {
  max-height: 300px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #fff #c57e9d88;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #c57e9d57;
  }

  &::-webkit-scrollbar-track {
    background-color: #fff;
  }
}

.textop,
.textop2 {
  border: 2px #A9D7AD solid;
  border-radius: 22px;
  width: 60%;
  padding: 5px 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

.correo {
  text-decoration: none;
  color: #E594BB;
}

.btnCerrar {
  background-color: #ffffff00;
  padding: 10px;
  font-size: 24px;
}

/*responsive*/

/* Estilos para pantallas extra pequeñas (menos de 576px) */
@media (max-width: 575.98px) {
  .h1F {
    margin-top: 40%;
    font-size: 35px;
    text-align: left;
    margin-left: 15%;
  }

  .intro {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    width: 70%;
  }

  #root {
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }

  .txtInicio {
    margin-left: 15%;
    width: 80%;
    font-size: 14px;
    text-align: left;
  }

  .imagenInicio {
    width: 50%;
    margin-top: 50px;
    margin-right: -100px;
  }

  
  /*conoceme*/

  .conoceme {
    display: flex;
    width: 100%;
    
  }

  .titCon, .titSobreMi, .titStack, .titContacto {
    font-size: 30px;
  }
  
  .titTxt {
    font-size: 16px;
  }


  /*sobre mi*/

  .sobreMi {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 100px 20px;
    align-items: center;
    justify-content: center;
  }

  .imagenCirc {
    margin-right: 0px;
  }

  .textSobreMi, .txtUno, .txtDos {
    font-size: 14px;
  }

  /*stack*/

  .stack {
    width: 100%;
    margin: 0px;
  }

  .titStack {
    margin-right: 0;
    margin-left: 0;
  }

  .txtUno,
  .txtDos {
    width: 80%;
    margin-bottom: 3%;
  }

  .txtDos {
    margin-top: 5%;
  }

  .iconos img,
  .iconos2 img {
    width: 35px;
    margin-right: 5%;

  }

  .iconos,
  .iconos2 {
    margin-left: 8%;
  }

  /*proyectos*/

 

  .fairy,
  .bookie,
  .schedule {
    margin-left: 0%;
    margin-right: 0;
  }

  .schedule {
    width: 90%;
  } 

  .fairy, .bookie {
    width: 80%;
  }

  .proy2,
  .proy3,
  .proy1 {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-left: 0%;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  .titProyectos {
    font-size: 30px;
  }


  .proyectos,
  .proy3 {
    width: 100%;
  }

 
  .hproy1,
  .hproy2,
  .hproy3 {
    font-size: 25px;
    margin-left: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 10px;
  }

  .hproy1 {
    margin-bottom: 0;
  }

  .hproy3 {
    width: 100%;
    margin-top: 0px;
  }


  /*contacto*/

  .taza {
    width: 20%;
    margin: 0;
  }

  .titContacto {
    margin-top: 0;
  }

  .txtContacto {
    width: 70%;
    margin: 0;
    font-size: 14px;
  }

  .contacto {
    margin-top: 10%;
    margin: 0;
    width: 100%;

  }

  .tel {
    position: fixed;
    right: -33%;
    top: 65%;
    padding: 20px;
    width: 240px;
    height: 460px;
  }

  
}

/* Estilos para pantallas pequeñas (de 576px a 767px) */
@media (min-width: 576px) and (max-width: 767.98px) {

  h1 {
    margin-top: 25%;
  }

  .intro {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
  }
  

  #root {
    margin: 0 auto;
    text-align: center;
  }

  .txtInicio {
    margin-left: 5%;
    width: 90%;
  }

  .imagenInicio {
    width: 40%;
    margin-top: 50px;
    margin-right: -100px;
  }

 

  /*conoceme*/

  .conoceme {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #FFF3F9;
    width: 100%;
    padding-right: 65px;
    padding-left: 120px;
  }

  /*sobre mi*/

  .sobreMi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 100px;
  }

  .imagenCirc {
    margin-right: 0px;
  }

  /*stack*/

  .stack {
    width: 100%;
    margin: 100px;
  }

  .titStack {
    margin-right: 0;
    margin-left: 0;
  }

  .txtUno,
  .txtDos {
    width: 100%;

    margin-bottom: 3%;
  }

  .txtDos {
    margin-top: 5%;
  }

  .iconos img,
  .iconos2 img {
    width: 55px;
    margin-right: 9%;

  }

  .iconos,
  .iconos2 {
    margin-left: 8%;
  }

  /*proyectos*/

  .hproy1,
  .hproy2,
  .hproy3 {
    font-size: 45px;
    margin-top: 0;
    margin-left: 0;
    text-align: center;

  }

  


  .fairy,
  .bookie,
  .schedule {
    margin-left: 0%;
    margin-right: 0;
  }

  .proy2,
  .proy3,
  .proy1 {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-left: 0%;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 0;
  }

  .proyectos,
  .proy3 {
    width: 100%;
    margin: 100px;
  }

  .hproy1,
  .hproy2,
  .hproy3 {
    margin-bottom: 50px;
    margin-top: 10px;
  }

  .hproy3 {
    width: 100%;
    margin: 100px;
    margin-top: -80px;
  }

  /*contacto*/

  .taza {
    width: 17%;
    margin: 0;
  }

  .titContacto {
    margin-top: 0;
  }

  .txtContacto {
    width: 80%;
    margin: 0;
  }

  .contacto {
    margin-top: 10%;
    margin: 0;
    width: 100%;
    margin: 100px;

  }

  .tel {
    position: fixed;
    right: -10%;
    top: 75%;
    padding: 20px;
    width: 250px;
    height: 420px;
  }


}

/* Estilos para pantallas medianas (de 768px a 991px) */
@media (min-width: 768px) and (max-width: 991.98px) {


  h1 {
    margin-top: 25%;
  }

  .txtInicio {
    width: 80%;
    margin-top: 20px;
    font-size: 16px;
  }

  .imagenInicio {
    width: 40%;
    margin-top: 50px;
  }

  /*sobre mí*/
  .textSobreMi {
    font-size: 16px;
  }

  .imagenCirc {
    width: 50%;
    margin-right: 30px;
  }

  .sobreMi {
    width: 85%;
  }

  /*stack*/


  .txtUno,
  .txtDos {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 3%;
    font-size: 16px;
  }

  .txtDos {
    margin-top: 3%;
  }

  .iconos img,
  .iconos2 img {
    width: 50px;
    margin-right: 9%;

  }


  .iconos,
  .iconos2 {
    margin-left: 8%;
  }

  /*proyectos*/

  .hproy1,
  .hproy2,
  .hproy3 {
    font-size: 45px;
    margin-top: 0;
    margin-left: 0;
    color: #A9D7AD;
    text-align: center;

  }


  .fairy,
  .bookie,
  .schedule {
    margin-left: 0%;
    margin-right: 0;
  }

  .proy2,
  .proy3,
  .proy1 {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-left: 0%;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 0;
  }


  .hproy1,
  .hproy2,
  .hproy3 {
    margin-bottom: 50px;
    margin-top: 10px;
  }

  .hproy3 {
    margin: 0;
  }

  /*Contacto*/

  .taza {
    width: 12%;
    margin: 0;
  }

  .titContacto {
    margin-top: 0;
  }

  .txtContacto {
    font-size: 16px;
    width: 65%;
  }

  .contacto {
    margin-top: 10%;
  }


}

/* Estilos para pantallas grandes (de 992px a 1199px) */
@media (min-width: 992px) and (max-width: 1199.98px) {

  h1 {

    margin-top: 20%;
  }

  /*sobre mi*/
  .imagenCirc {
    width: 40%;
    margin-right: 60px;
  }

  .sobreMi {
    width: 80%;
  }

  .textSobreMi {
    font-size: 16px;
  }

  /*stack*/

  .txtUno,
  .txtDos {
    width: 65%;
    margin: 0 auto;
    margin-bottom: 3%;
    font-size: 16px;
  }

  .txtDos {
    margin-top: 3%;
  }

  .iconos img,
  .iconos2 img {
    width: 70px;

  }

  .iconos,
  .iconos2 {
    margin-left: 10%;
  }

  /*proyectos*/


  .hproy1,
  .hproy2,
  .hproy3 {
    font-size: 45px;
    margin-top: 0;
    margin-left: 0;
    color: #A9D7AD;
    text-align: center;

  }

  .fairy,
  .bookie,
  .schedule {
    margin-left: 0%;
    margin-right: 0;
  }

  .proy2,
  .proy3,
  .proy1 {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-left: 0%;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 0;
  }


  .hproy1,
  .hproy2,
  .hproy3 {
    margin-bottom: 50px;
    margin-top: 10px;
  }

  /*contacto*/

  .contacto {
    margin-top: 10%;
  }



}

/* Estilos para pantallas extra grandes (1200px y más) */
@media (min-width: 1200px) {}