.fot {
    background-color: #FFF6F6;
    text-align: center;
    padding: 20px 0;
}


.container-footer {
    width: 100%;
}

.imgs-footer {
    margin-top: 2%;
    margin-bottom: 2%;
}

.footer {
    margin-top: 10%;
}

.footer .nav-link {
    text-decoration: none;
    color: #68aa6e;
    font-size: 18px;
}

.foot {
    padding: 10px;
    margin-top: 20px;
    background-color: #f0d9e46e;
}


.nav-link {
    cursor: pointer;
}

.imgs-footer img {
    width: 3%;

}

.linke,
.git {
    margin-right: 30px;
}

@media (min-width: 576px) and (max-width: 767.98px) {

    .fot {
        width: 100%;
        padding-right: 85px;
        padding-left: 100px;
    }

    .foot {
        padding-right: 85px;
        padding-left: 100px;
    }

    .imgs-footer img {
        width: 7%;
    
    }

    .correo {
        font-size: 18px;
    }

}