@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, sans-serif;
  font-weight: 400;

 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 10%;
}
*/
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 40px;
}

button {
  background-color: #ffffff00;
  border:  2px #A9D7AD solid;
  padding: 10px 30px;
  border-radius: 20px;
  margin-top: 15px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #A9D7AD;
  color: white;
}



@media (max-width: 575.98px) { 
  button {
    padding: 8px 25px;
    font-size: 14px;
  }

}